html {
	font-family: 'Crimson Text', sans-serif;
}

body {
	background-image: url("under_construction.png");
	background-position: center top;
	background-size: auto;
    background-repeat: no-repeat;
	margin: 0;
}