/*main styling*/

	html {
		font-family: 'Crimson Text', sans-serif;
	}


	body {
		background-color: #111010;
	}


	.show {display:block;} 


	.main_index_container {
		display: flex;
		height: 33vh;
		flex-flow: row wrap;
		justify-content: center;
		margin-top: 20vh;
	}


	.main_index_container div {
		width: 25vh;
		height: 90%;
		margin: 10px 20px;
		text-align: center;
	}


	#essays_image {
		width: 90%;
		height: 80%;
		padding-left: 15px;
		padding-top: 10px;
	}


	#projects_image {
		width: 90%;
		height: 80%;
	}


	#about_image {
		width: 90%;
		height: 80%;
	}

	
	#about_body {
		-webkit-animation-name: about_fadein; /*safari 4.0 - 8.0*/
		-webkit-animation-duration: 3s; /*safari 4.0 - 8.0*/
		-webkit-animation-fill-mode: forwards;
		animation-name: about_fadein;
		animation-duration: 3s;
		animation-fill-mode: forwards;
	}

	
	/*safari 4.0 - 8.0*/
	@-webkit-keyframes about_fadein {
		from {background-color: #111010;}
		to {background-color: #f1f1f1;}
	}


	@keyframes about_fadein {
		from {background-color: #111010;}
		to {background-color: #f1f1f1;}
	}


	.about_content_wrapper {
		display: flex;
		flex-flow: column nowrap;
		align-items: center;
	}


	.about_content_wrapper div {
		font: 1.25em "Georgia", "Helvetica", serif;
		font-weight: 500;
		color: #111010;
		line-height: 1.75rem;
		width: 100%;
		max-width: 50%;
		margin-bottom: 3rem;
	}


	#coming_soon {
		font: 1.25em "Montserrat", sans-serif;
		color: #d2d5db;
		margin: 0 auto 0 auto;
		text-align: center;	
	}
	

	.index_icon a {
		text-decoration: none;
	}

	

	#name_footer {
		width: 50%;
		margin: auto;
		margin-top: 15em;
	}


	#name_footer_name {
		font: 1.25em "Montserrat", sans-serif;
		color: #97bcd8;
		font-weight: 500;
		text-align: center;
		margin-bottom: 0;
	}


	#name_footer_date {
		font: 1em "Montserrat", sans-serif;
		color: #5f6f8c;
		text-align: center;
		margin-top: 0.25em;
	}

/*link styling*/

	.caption {
		font: 1.25em "Montserrat", sans-serif;
		color: #d2d5db;
		width: 100px;
		text-align: center;
		margin: auto;
		margin-top: 1em;
	}
	

	.caption:hover {
		transform: scale(1.05);
		color: #82a1d8;
	}



	#essays_caption {
		margin-top: 10px;
	}



	#essays_image:hover, #projects_image:hover, #about_image:hover {
		transform: scale(1.05);
	}

	.about_content_wrapper a {
		text-decoration: none;
		-webkit-animation-name: link_fadein /*safari 4.0 - 8.0*/
		-webkit-animation-duration: 3s; /*safari 4.0 - 8.0*/
		-webkit-animation-fill-mode: forwards;
		animation-name: link_fadein;
		animation-duration: 3s;
		animation-fill-mode: forwards;
	}

	
	/*safari 4.0 - 8.0*/
	@-webkit-keyframes link_fadein {
		from {color: #111010;}
		to {color: #82a1d8;}
	}


	@keyframes link_fadein {
		from {color: #111010;}
		to {color: #82a1d8;}
	}


/*navigation styling*/

	.navbar {
		font: 1.25em "Montserrat", sans-serif;
		color: #d2d5db;
		height: 5rem;
		margin: 2rem 3rem;
	}


	.dark_navbar {
		color: #111010;
	}


	.nav_item {
		float: right;
		margin-left: 2rem;
	}


	.active {
		color: #82a1d8;
		text-decoration: none;
	}


	.nonactive {
		text-decoration: none;
		color: inherit;
	}


	.navbar a:hover {
		transform: scale(1.05);
		color: #82a1d8;
	}


/*material icons*/

	#home_icon {
		font-size: 30px;
		margin-top: -0.4rem;
		margin-left: .5rem;
	}

	#home_icon:hover {
		transform: scale(1.05);
	}

	#email_icon {
		font-size: 18px;
		vertical-align: middle;
		margin-bottom: 0.1rem;
		-webkit-animation-name: email_fadein /*safari 4.0 - 8.0*/
		-webkit-animation-duration: 4s; /*safari 4.0 - 8.0*/
		-webkit-animation-fill-mode: forwards;
		animation-name: email_fadein;
		animation-duration: 4s;
		animation-fill-mode: forwards;
	}

	
	/*safari 4.0 - 8.0*/
	@-webkit-keyframes email_fadein {
		from {color: #111010;}
		to {color: red;}
	}


	@keyframes email_fadein {
		from {color: #111010;}
		to {color: red;}
	}